h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: #444;
}

h1, h2, h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

.author {
  font-style: italic;
  font-size: 18px;
  margin-left: 15px;
}

.related-author {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.copyright {
  font-size: 16px;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  flex: 0 0 300px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: #444444;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.related-post {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 25px
}

article {
  flex: 1;
}
