<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">

  <title>Accordion Component</title>
</head>
<body>
  <div class="accordion">
    <div class="item">
      <p class="number">02</p>
      <p class="text">How long do I have to return my chair?</p>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
      <div class="hidden-box">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam animi aspernatur autem, blanditiis consequatur cum distinctio ex exercitationem illo iusto maxime molestias nam pariatur quibusdam quod quos soluta voluptatum.
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li>Aliquam asperiores deleniti facilis natus unde!</li>
          <li>Aliquam at expedita ipsam laboriosam laborum</li>
          <li>Adipisci aliquam consequuntur laudantium provident reprehenderit?</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
